@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}
<!--Modal-->

<div class="modal fade" id="CancelCase" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirm Cancellation</h5>
                    <i class="fa-solid fa-xmark" data-bs-dismiss="modal"></i>
                </div>
                <div class="modal-body">
                    <p class="text-secondary">
                        Patient name :
                        <span class="text-info"> Test Test</span>
                    </p>
                    <div class="form-floating mb-3">
                        <select class="form-select form-control shadow-none" id="ContactType">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="ContactType">Reasons for Cancellation</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control shadow-none" placeholder="Leave a comment here" id="AdminNotes" style="height: 100px"></textarea>
                        <label for="AdminNotes">Provide Additional Notes</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info text-white shadow-none">Confirm</button>
                    <button type="button" class="btn border border-info text-info shadow-none" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
</div>