<!-- Modal -->
<div class="modal fade" id="SendAgreement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="exampleModalLongTitle">Send Agreement</h5>
                <i class="fa-solid fa-xmark" data-bs-dismiss="modal"></i>
            </div>
            <form type="hidden" method="post" asp-controller="Actions" asp-action="SendAgreementMail">
                <div class="modal-body">
                    <div >
                        <i class="fa-solid fa-circle fa-xs" style="color:#5fbc61;"></i>
                        <small class="text-secondary">Patient</small>
                    </div>
                    <small class="text-secondary">
                        To Send Agreement please make sure you are updating correct contact information below for the responsible party.
                    </small>
                    <input type="hidden" name="requestid" id="RequestID_Input_ModelSendAgreement" />
                    <div class="form-floating my-3">
                        <input name="PhoneNumber" class="form-control shadow-none" type="tel" id="PhoneNumber_SendAgreement" placeholder="(201) 555-0123" />
                        <label class="ms-2" for="PhoneNumber_SendAgreement">Phone Number</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control usernameLogin " id="Email_SendAgreement" name="Email" placeholder="username">
                        <label for="Email_SendAgreement">Username</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info text-white shadow-none">Send</button>
                    <button type="button" class="btn border border-info text-info shadow-none" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>